/* Header */
header h2{
    background-color: #081F5C;
    margin: 0;
    padding: 20px;
    color: #F2F0DE;
    text-align: center;
}

/* nav */
nav{
    background-color: #D0E3FF;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #081F5C;
}
li {
    list-style: none;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #081F5C;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Hero */
body {
    margin: 0;
}

/* The hero image */
.hero {
  background-color: antiquewhite;
  background-image: url("../images/hero_new.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 275px;;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-text {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #081F5C;
    text-align: center;
}




/* Event Slide Show */
.mySlides{
    display: none;
    max-width: 75%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}
.event_images {
    display: flex;
    justify-content: center;
}
.events_button {
    display: flex;
    justify-content: center;
}
.current_events {
    display: block;
    justify-content: center;  
}
.events_title {
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}
.ticket_button {
    text-align: center;
    padding-top: 10px;
}

/* Sponsor */
.shout-out {
    text-align: center;
    margin: 0;
}
.our-sponsors {
     margin: 0;
     padding-top: 20px;
     padding-bottom: 20px;
}
.sponsor-img {
    max-width: 75%;
    padding: 10px;
    background-color: #081F5C;
}
.george {
    margin-top: 0;
    margin-bottom: 20px;
}

/* weather */
.weather {
    border: solid 2px #081F5C;
    margin: 10px;
    text-align: center;
}
.weather h3 {
    background-color: #081F5C;
    color: #F2F0DE;
    margin: 0;
    padding: 5px;
}
.list-info {
    margin-right: 10%;
}

/* Footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #081F5C;
    margin: 0;
}



