/* Header */
header h2{
    background-color: #081F5C;
    margin: 0;
    padding: 30px;
    color: #F2F0DE;
    text-align: center;
}
main {
    background-color: #F2F0DE;

}
/* nav */
nav{
    background-color: #D0E3FF;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #081F5C;
}
li {
    list-style: none;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #081F5C;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* nav li:hover {
    background-color: #F2F0DE;
} */

/* Hero */
body {
    margin: 0;
}

/* The hero image */
.hero {
  background-color: antiquewhite;
  background-image: url("../images/hero_new.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 275px;;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-text {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #081F5C;
    text-align: center;
}
.sign_up {
    background-color: #081F5C;
    color: #F2F0DE;
    text-decoration: none;
    padding:10px;
    border-radius: 50px;
}



/* Event Slide Show */
.mySlides{
    display: block;
    max-width: 75%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    justify-content: left;
}
.current_events {
    text-align: center;
    padding: 10px;
    background-color: #F2F0DE;
}
.event_images {
    display: flex;
    justify-content: center;
}


/* Sponsor */
.shout-out {
    text-align: center;
    margin: 0;
}
.our-sponsors {
     margin: 0;
     padding-top: 20px;
     padding-bottom: 20px;
}
.sponsors {
    display: flex;
    justify-content: center;
}

/* weather */
.weather {
    border: solid 2px #081F5C;
    margin: 10px;
    text-align: center;
    width: 30%;
    align-items: center;
}
.weather h3 {
    background-color: #081F5C;
    color: #F2F0DE;
    margin: 0;
    padding: 5px;
}
.list-info {
    margin-right: 10%;
}
.weather_div {
    display: block;
    justify-content: center;
}
/* Footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #081F5C;
    margin: 0;
}

/* Discover Page */
.content {
    display: flex;
    flex-direction: column; /* Organize items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center;
}

/* Sidebar */

.calendar {
    text-align: center;
    background-color: #F2F0DE;
    width: 325px;
    padding: 20px;
    margin: 20px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
}

.todays_events {
    text-align: center;
    background-color: #F2F0DE;
    width: 325px;
    height: 170px;
    margin: 20px;
    padding: 20px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
    color: #081F5C;

}
.todays_events ul {
    display: block;
}

.demographics {
    text-align: center;
    background-color: #F2F0DE;
    width: 325px;
    padding: 20px;
    padding-left: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
    color: #081F5C;

}

/* main */

.hospital {
    background-color: #D0E3FF;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);


}
.hospital img {
    max-width: 100%;
    height: auto;
}

.balloons {
    background-color: #D0E3FF;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);

}

.kids_club {
    background-color: #D0E3FF;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
}

.welcomeC {
    text-align: center;
    background-color: #F2F0DE;
    width: 325px;
    padding: 20px;
    padding-left: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
    color: #081F5C;
}

/* Contact Us form */


form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
input {
    height: 38px;
}
.fill input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fill label {
    font-weight: bold;
}
.title {
    color: #081F5C;
    text-align: center;
}
.mem {
    font-weight: bold;
}

.membership label {
    display: flex;
    align-items: center;
}

.membership input[type="radio"] {
    margin-right: 5px;
}
.benefits_title {
    text-align: center;
    color: #081F5C;
}
.benefits {
    background-color: #F2F0DE;
    padding: 15px;
    margin: 5px;
    color: #081F5C;
    text-align: center;
    border-radius: 15px;
}

/* Directory Page */

.grid #memberCard {
    text-align: center;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
    background-color:#F2F0DE;
    padding: 30px;
    width: 25%;
}



.grid #card_section {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.grid #cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

/* .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid #memberCard {
	text-align: center;
} */
.list {
	display: flex;
	flex-direction: column;
}

.list #memberCard {
    display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
    margin: 0;
	padding: 0.25rem;
}

.list #cards img{
    display: none;
}


.list #cards p {
    padding: 5px;
}

.list #memberCard:nth-child(even) {
	background-color: #D0E3FF;
}
