@media only screen and (min-width: 32em) {
    ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .hero {
        padding-top: 150px;
        padding-bottom: 250px;;
    }
}