/* Mobile View */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* html selectors */
h1, h2, h3, ul{
    font-family: 'Lora', serif;
}
body{
    margin: 0;
}
header{
    background-color: rgb(202, 183, 183);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
img{
    grid-column: 1/ span 2;
    grid-row: 1/2;
    max-width: 75px;
}
h1{
    grid-column: 2/ 3;
    color: black;
    grid-row: 1/2;
    margin: 10px;

}
nav{
    background-color: rgb(116, 103, 103);
    align-content: center;
    text-align: center;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    justify-content: center;
}
li{
    list-style: none;
    margin: 0 auto;
    text-decoration: none;
}
.list li a , .list-info li a {
    text-decoration: none;
    color:rgb(116, 103, 103)
}
footer{
    text-align: center;
    background-color: rgb(116, 103, 103);
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* class selectors */
.wdd230{
    text-align: center;
    text-decoration: underline;
}
.learning{
    background-color: rgb(116, 103, 103);
    color: white;
    padding: 10px;
    margin: 0;
}
.list{
    text-align: left;
}
.list-info{
    text-align: center;
    color: rgb(116, 103, 103);
    text-decoration: none;
}


/* id selectors */
#information, #activities{
    border: solid 2px rgb(116, 103, 103);
    text-align: center;
    margin: 10px;
}
#menu {
    display: block;
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation li {
    display: none;
}
.navigation {
    margin-top: 0;
    
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
