/* Large view */
@media screen and (min-width: 480px) {
    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #activities{
        grid-column: 1/4;
    }
    #information{
        grid-column: 4/5;
    }
    #weather{
        margin-top: 50px;
    }
    #menu {
        display: none;
    }
    .navigation li {
        display: block;
    }
    .navigation {
        display: flex;
        margin-top: 0;
    }
    .hero {
    background-color: antiquewhite;
    background-image: url('../images/rexburd_huge.webp');
    background-size: cover;
    height: 500px;
    margin: 0;
    }
    .hero_text {
        position: absolute;
        top: 150px;
        left: 30px;
        /* Buenas */
    }
}